<sidebar></sidebar>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1>Editar veh&iacute;culo</h1>
      </div>
    </div>
    <form name="editVehicleForm" novalidate>
      <div class="show-info-container">
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>MVA:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input name="vehicleMVA" ng-model="vm.vehicle.MVA" required/>
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="editVehicleForm.vehicleMVA.$error"
               ng-show="editVehicleForm.vehicleMVA.$touched && editVehicleForm.vehicleMVA.$invalid">
            <div ng-messages-include="app/components/vehicles/messages.html"></div>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Llave:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input name="vehicleKey" ng-model="vm.vehicle.key" required/>
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="editVehicleForm.vehicleKey.$error"
               ng-show="editVehicleForm.vehicleKey.$touched && editVehicleForm.vehicleKey.$invalid">
            <div ng-messages-include="app/components/vehicles/messages.html"></div>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Marca:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input name="vehicleBrand" ng-model="vm.vehicle.brand" required/>
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="editVehicleForm.vehicleBrand.$error"
               ng-show="editVehicleForm.vehicleBrand.$touched && editVehicleForm.vehicleBrand.$invalid">
            <div ng-messages-include="app/components/vehicles/messages.html"></div>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Modelo:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input name="vehicleModel" ng-model="vm.vehicle.model" required/>
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="editVehicleForm.vehicleModel.$error"
               ng-show="editVehicleForm.vehicleModel.$touched && editVehicleForm.vehicleModel.$invalid">
            <div ng-messages-include="app/components/vehicles/messages.html"></div>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>PSC:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input name="vehiclePSC" ng-model="vm.vehicle.PSC" required/>
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="editVehicleForm.vehiclePSC.$error"
               ng-show="editVehicleForm.vehiclePSC.$touched && editVehicleForm.vehiclePSC.$invalid">
            <div ng-messages-include="app/components/vehicles/messages.html"></div>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Color:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input name="vehicleColor" ng-model="vm.vehicle.color" required/>
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="editVehicleForm.vehicleColor.$error"
               ng-show="editVehicleForm.vehicleColor.$touched && editVehicleForm.vehicleColor.$invalid">
            <div ng-messages-include="app/components/vehicles/messages.html"></div>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Tipo de gasolina:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <select name="vehicleGas" ng-model="vm.vehicle.gas">
              <option value="Gasolina">Gasolina</option>
              <option value="Diesel">Diesel</option>
            </select>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Tipo:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <select name="vehicleTractionType" ng-model="vm.vehicle.type">
              <option ng-repeat="vehicleModel in vm.vehiclesTypes" value="{{vehicleModel.id}}">{{vehicleModel.name}}</option>
            </select>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>N&uacute;mero de placa:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input type="text" name="vehicleLicensePlate" ng-model="vm.vehicle.license_plate" required/>
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="editVehicleForm.vehicleLicensePlate.$error"
               ng-show="editVehicleForm.vehicleLicensePlate.$touched && editVehicleForm.vehicleLicensePlate.$invalid">
            <div ng-messages-include="app/components/vehicles/messages.html"></div>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>A&ntilde;o:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input type="number" name="vehicleYear" min="1900" max="2200" string-to-number ng-model="vm.vehicle.year" required/>
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="editVehicleForm.vehicleYear.$error"
               ng-show="editVehicleForm.vehicleYear.$touched && editVehicleForm.vehicleYear.$invalid">
            <div ng-messages-include="app/components/vehicles/messages.html"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <button ng-disabled="editVehicleForm.$invalid" class="btn btn-primary btn-long" ng-click="vm.persistData(vm.vehicle)">Guardar</button>
          <button class="btn btn-secondary btn-long" ui-sref="vehicle({id: vm.vehicle.$id})">Volver</button>
          <button class="btn btn-long" ng-click="vm.openDeleteModal()">Eliminar</button>
        </div>
      </div>
    </form>
  </div>
</div>

