<sidebar></sidebar>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="show-info-container">
      <div class="row info-detail">
        <h1>Sucursal {{vm.deliveryPlace.name}}</h1>
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Nombre:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.deliveryPlace.name }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Correo Electrónico:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.deliveryPlace.email }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-primary btn-long" ng-click="vm.remove()">Eliminar</button>
        <button class="btn btn-secondary btn-long" ui-sref="deliveryPlaces">Volver</button>
      </div>
    </div>
  </div>
</div>

