<p ng-message="required">Este campo es requerido.</p>
<p ng-message="min">Este campo debe contener un a&ntilde;o entre 1900 y 2200.</p>
<p ng-message="max">Este campo debe contener un a&ntilde;o entre 1900 y 2200.</p>

