<sidebar></sidebar>
<div class="alert alert-danger" ng-show="vm.isErrorLoad">
  <button ng-click="vm.closeAlert()" class="close" type="button" aria-label="Close">&times;</button>
  <strong>Error en la conexión con la base de datos</strong>
</div>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div>
        <h1>Revisiones</h1><br />
        <div class="input-group">
          <input type="text" ng-model="vm.filterString" ng-change="vm.filter()" ng-model-options="{ debounce: 1000 }" placeholder="Buscar revision" class="form-control" />
          <br /> <br />
        </div>
        <div class="table table-responsive" ng-if="vm.loading">
          <h5>Cargando Lista de Revisiones...</h5>
          <div class="progress progress-striped active page-progress-bar">
            <div class="progress-bar" style="width: 100%;"></div>
          </div>
        </div>
        <table class="table table-responsive" ng-if="!vm.loading">
          <tr>
            <th>MVA</th>
            <th>Placa</th>
            <th>Usuario</th>
            <th># de Contrato</th>
            <th>Tipo</th>
            <th>Sucursal</th>
            <th>Fecha</th>
            <th>Movimiento de Vehiculo</th>
          </tr>
          <tr dir-paginate="revision in vm.revisions | filter:filter | orderBy: '-timestamp' |
                            itemsPerPage: vm.revisionsPerPage"
              ng-click="vm.showRevision(revision.$id)"
              current-page="vm.pagination.current">
            <td>{{ revision.vehicle_ref }}</td>
            <td>{{ revision.license_plate }}</td>
            <td>{{ revision.username }}</td>
            <td>{{ revision.contract_number ? revision.contract_number : revision.numberMovement}}</td>
            <td>{{ revision.type }}</td>
            <td>
              <span ng-if = "revision.optionType === 'CarMov' || revision.optionType === 'Other'">{{ revision.delivery_place_o }}</span>
              <span ng-if = "revision.optionType === 'CarRent' || revision.optionType === 'HomeDelivery'"> {{ revision.delivery_place }}</span>
            </td>
            <td>{{ revision.timestamp | date:'dd-MM-yyyy' }}</td>
            <td>{{ revision.option }}</td>
          </tr>
        </table>
        <dir-pagination-controls
          max-size="5"
          direction-links="true"
          boundary-links="true"
          on-page-change="vm.pageChanged(newPageNumber)">
        </dir-pagination-controls>
      </div>
    </div>
  </div>
</div>
