<sidebar></sidebar>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h1>Usuarios</h1>
        <button class="btn btn-primary" ui-sref="userNew"> Nuevo Usuario </button><br /><br />
        <div class="input-group">
          <input type="text" ng-model="vm.query" placeholder="Buscar usuario" class="form-control" /><br/><br/>
        </div>
      </div>
    </div>
    <div class="col-12 list-container">
      <div class="col-12 list-element" dir-paginate="user in vm.users | filterObjDict: vm.query:['username'] | itemsPerPage: 10" ng-click="vm.showUser(user.username)">
        <h4> {{user.username}} </h4>
      </div>
    </div>
    <dir-pagination-controls
     max-size="5"
     direction-links="true"
     boundary-links="true" >
    </dir-pagination-controls>
  </div>
</div>
