<sidebar></sidebar>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1>Nuevo Usuario</h1>
      </div>
    </div>
    <form name="newUserForm" novalidate>
      <div class="show-info-container">
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Nombre de usuario:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input type="text" name="username" ng-model="vm.user.username" required/>
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="newUserForm.username.$error"
               ng-show="newUserForm.username.$touched && newUserForm.username.$invalid">
            <div ng-messages-include="app/components/users/messages.html"></div>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Contrase&ntilde;a:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input type="password" name="password" ng-model="vm.user.password" required/>
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="newUserForm.password.$error"
               ng-show="newUserForm.password.$touched && newUserForm.password.$invalid">
            <div ng-messages-include="app/components/users/messages.html"></div>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-2 col-sm-3 label-container">
            <label>Confirmaci&oacute;n de contrase&ntilde;a:</label>
          </div>
          <div class="col-md-10 col-sm-9">
            <input type="password" name="passwordConfirmation" ng-pattern="vm.user.password" required/>
          </div>
          <div class="help-block col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3"
               ng-messages="newUserForm.passwordConfirmation.$error"
               ng-show="newUserForm.passwordConfirmation.$touched && newUserForm.passwordConfirmation.$invalid">
            <div ng-messages-include="app/components/users/messages.html"></div>
          </div>
        </div>
        <div class="row form-row">
         <div class="col-md-2 col-sm-3 label-container">
           <label>Sucursal:</label>
         </div>
         <div class="col-md-10 col-sm-9">
           <select ng-model="vm.user.delivery_place_ref">
           <option ng-repeat="deliveryPlace in vm.deliveryPlaces | orderBy: 'name' | filter: query" ng-value="deliveryPlace.$id" >
           {{ deliveryPlace.name }}
           </option>
           </select>
         </div>
       </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <button ng-disabled="newUserForm.$invalid" class="btn btn-primary btn-long" ng-click="vm.persistData(vm.user)">Guardar</button>
          <button class="btn btn-secondary btn-long" ui-sref="users">Volver</button>
        </div>
      </div>
    </form>
  </div>
</div>
