<sidebar></sidebar>
<div class="content-wrapper">
  <uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)">{{alert.msg}}</uib-alert>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <hgroup>
          <h1> Revision del veh&iacute;culo</h1>
          <h4>{{ vm.revision.option }}</h4>
        </hgroup>
      </div>
    </div>
    <div class="show-info-container">
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Fecha</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.timestamp | date:'dd-MM-yyyy HH:mm:ss a' }}</span>
        </div>
      </div>
      <div class="row info-detail" ng-hide="vm.revision.optionType !== 'CarMov' && vm.revision.optionType !== 'Other' || vm.revision.type === 'check-in'">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Salida del Vehículo</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.timestamp | date:'dd-MM-yyyy HH:mm:ss a' }}</span>
        </div>
      </div>
      <div class="row info-detail" ng-hide="vm.revision.optionType !== 'CarMov' && vm.revision.optionType !== 'Other' || vm.revision.type === 'check-out'">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Salida del Vehículo</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.checkOutTime | date:'dd-MM-yyyy HH:mm:ss a' }}</span>
        </div>
      </div>
      <div class="row info-detail" ng-hide="vm.revision.optionType !== 'CarMov' && vm.revision.optionType !== 'Other' || vm.revision.type === 'check-out'">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Entrega del Vehículo</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.timestamp | date:'dd-MM-yyyy HH:mm:ss a' }}</span>
        </div>
      </div>
      <div class="row info-detail" ng-hide="vm.revision.optionType !== 'CarMov' && vm.revision.optionType !== 'Other' || vm.revision.type === 'check-out'">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Duración del Traslado</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span id="deliveryTime">{{ vm.revision.deliveryTimeInfo.deliveryTime | date:'HH:mm:ss' }}</span>
        </div>
      </div>
      <div class="row info-detail" ng-hide="vm.revision.optionType !== 'CarRent' && vm.revision.optionType !== 'HomeDelivery'">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Sucursal:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.delivery_place.name }}</span>
        </div>
      </div>
      <div class="row info-detail" ng-hide="vm.revision.optionType !== 'CarMov' && vm.revision.optionType !== 'Other'">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Sucursal de Origen</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.delivery_place_o }}</span>
        </div>
      </div>
      <div class="row info-detail" ng-hide="vm.revision.optionType !== 'CarMov' && vm.revision.optionType !== 'Other'">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Sucursal de Destino</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.delivery_place_d }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Marca:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.vehicle.brand }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Modelo:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.vehicle.model }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>N&uacute;mero de Veh&iacute;culo:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.vehicle_ref }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Llave:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.vehicle.key }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Kilometraje:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.km }} km</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Nivel de Gasolina:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.gas_level }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Transacci&oacute;n:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.type }}</span>
        </div>
      </div>
      <div class="row info-detail" ng-hide="vm.revision.optionType !== 'CarMov' && vm.revision.optionType !== 'Other'">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Conductor</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.drive }}</span>
        </div>
      </div>
      <div class="row info-detail" ng-hide="vm.revision.optionType !== 'CarMov' && vm.revision.optionType !== 'Other'">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Teléfono</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.phone }}</span>
        </div>
      </div>
      <div class="row info-detail" ng-hide="vm.revision.optionType !== 'CarMov' && vm.revision.optionType !== 'Other'">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Numero de Movimiento</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.numberMovement }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Elaborado por:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.username }}</span>
        </div>
      </div>
      <div class="row info-detail" ng-hide="vm.revision.optionType !== 'HomeDelivery' && vm.revision.optionType !== 'CarRent'">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>N&uacute;mero de contrato:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.contract_number }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-md-2">
          <label>Da&ntilde;os:</label>
        </div>
        <div class="col-md-4">
          <div ng-repeat="damage in vm.revision.damages">
            <label>Tipo de da&ntilde;o: </label>
            <span>{{ damage.damage_type }}</span><br/>
            <label>Parte del carro: </label>
            <span>{{ damage.part }}</span><br/>
            <label>Gravedad: </label>
            <span>{{ damage.severity_type }}</span><br/>
            <label>Es Nueva: </label>
            <span ng-show="damage.is_new" class="glyphicon glyphicon-ok"></span>
            <span ng-hide="damage.is_new" class="glyphicon glyphicon-remove"></span>
            <br/>
            <br/>
          </div>
          <span ng-hide="(vm.revision.damages_ref) && (vm.revision.damages.length > 0)">Sin da&ntilde;os</span>
        </div>
        <div class="col-md-4" ng-controller="CanvasController">
          <canvas id="canvas" ng-click="downEvent($event)"></canvas>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Partes del veh&iacute;culo:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <div ng-repeat="part in vm.carParts">
            <label>{{ part.name }}:</label>
            {{ vm.revision.car_parts_present[part.id] }}
            <span style="color:#032a5d; font-weight: bold" ng-if="!vm.isNotANumber(vm.revision.car_parts_present[part.key].toString())">
              {{ vm.revision.car_parts_present[part.key] }} </span>
            <span style="color:#032a5d; font-weight: bold" ng-if="vm.revision.car_parts_present[part.key] === 'na'">N/A</span>
            <span ng-if="(vm.revision.car_parts_present[part.key].toString() === 'true' ) && (vm.isNotANumber(vm.revision.car_parts_present[part.key].toString()))"
              class="glyphicon glyphicon-ok"></span>
            <span ng-if="(vm.revision.car_parts_present[part.key].toString() ==='false') && (vm.isNotANumber(vm.revision.car_parts_present[part.key].toString()))"
              class="glyphicon glyphicon-remove"></span>
          </div>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Llanta frontal izquierda:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.tires.left_front }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Llanta frontal derecha:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.tires.right_front }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Llanta trasera izquierda:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.tires.left_rear }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Llanta trasera derecha:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.tires.right_rear }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Llanta de Repuesto:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <span>{{ vm.revision.tires.spare }}</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label>Observaciones:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <div ng-repeat="observation in vm.revision.observations">
            <span>{{ observation.observation }}</span>
          </div>
        </div>
        <div ng-hide="(vm.revision.observations_ref) && (vm.revision.observations.length > 0)" class="col-lg-10 col-md-8 col-sm-7">
          <span>Sin Observaciones</span>
        </div>
      </div>
      <div class="row info-detail">
        <div class="col-lg-2 col-md-4 col-sm-5">
          <label for="comment">Comentarios:</label>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-7">
          <textarea id="comment" data-ng-model="vm.comment" class="form-control" style="height: 200px; width: 70%; resize: none"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <button class="btn btn-secondary btn-action" ui-sref="revisions"> Lista de Revisiones </button>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-secondary btn-action" ng-click="vm.editRevision(vm.currentRevisionId)">Editar</button>
      </div>
      <div class="col-lg-3">
        <button class="btn btn-primary btn-action" ng-click="vm.printRevision(vm.currentRevisionId)">Imprimir</button>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary btn-action" ng-click="vm.openEmailModal(vm.currentRevisionId)"> Enviar Correo
        </button>
      </div>
    </div>
  </div>
</div>
</div>